$hotspot-gray: #a9a9a9;
$hotspot-white: #fff;
$hotspot-shadow-color: #333;
$red: #f00;
$green: #288e06;


@keyframes hotspot-dot-animation {
    0% {
        transform: scale(0);
    }

    55% {
        transform: scale(1);
        opacity: 1;
    }

    75% {
        transform: scale(1);
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes active-hotspot-animation {
    0% {
        transform: scale(1);
    }

    55% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}



figure {
    margin: 0;
}

.hotspot-image {
    display: block;

    &__image {
        position: relative;
    }

    &__hotspot {
        position: absolute;
        display: inline-block;
        transform: translate(-20px, -20px);

        &::before {
            content: "";
            width: 40px;
            height: 40px;
            cursor: pointer;
            display: block;
            border-radius: 50%;
            opacity: 0.75;
            background: transparent;
            border: 5px solid $hotspot-white;
            box-shadow: 0 0 10px $hotspot-shadow-color;
            box-sizing: border-box;
            position: relative;
            transition: border 1s ease-in, background 1s ease-in-out;
        }

        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            background: $hotspot-white;
            position: absolute;
            left: 0;
            top: 0;
            transform: scale(0);
            border-radius: 50%;
            box-sizing: border-box;
        }

        &:hover {
            &::after {
                animation-name: hotspot-dot-animation;
                animation-iteration-count: infinite;
                animation-duration: 1.5s;
            }
        }

        &--active {
            &::before {
                opacity: 1;
                animation-name: active-hotspot-animation;
                animation-iteration-count: infinite;
                animation-duration: 2s;
            }
        }

        &--large {
            transform: scale(2);
        }
    }


    &__description {
        padding: 10px 20px;
    }

    &__hotspots {
        display: block;
    }
}






.hotspot-item {
    display: flex;
    background: $hotspot-gray;
    flex-direction: row;
    flex-wrap: no-wrap;


    &__icon {
        width: 150px;
        height: 150px;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 10px;
    }

    &__content {
        padding: 10px 20px;
    }
}




.hotspot-controls {
    font-size: 16px;

    &__activate {
        background: darken($green, 10%);
        color: $hotspot-white;
        padding: 10px;
        text-decoration: none;
        display: inline-block;

        &:hover {
            background: $green;

        }
    }

    &__deactivate {
        background: darken($red, 10%);
        color: $hotspot-white;
        padding: 10px;
        text-decoration: none;
        display: inline-block;

        &:hover {
            background: $red;
        }
    }
}
